{% extends "layoutglobal.html" %}

{% block title %}Liste chien{% endblock %}

{% block content %}

<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Bienvenue</h4>
              <p class="text-muted">Cette application centralise les services auxquels vous avez accés en tant que membre de notre association.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Historique des repas</h4>
              <ul class="list-unstyled">
			  <li><a href="#" class="text-white">Accueil</a></li>
                <li><a href="#" class="text-white">Votre profil</a></li>
                <li><a href="#" class="text-white">Contact</a></li>
                <li><a href="{{ path_for('deconnexion') }}" class="text-white">Se déconnecter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>{{ session.nomUser ~ " " ~ session.prenomUser  }}</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
</header>
	
	
<section class="jumbotron text-center">
    <div class="container">
		<h1 class="jumbotron-heading">Historique des releves de poids de {{ session.nomChien }} :</h1>
	</div>
	<br/>
	<table border="2" align='center'>
	<tr>
		<th> Date </th>
		<th> Poids du chien </th>
	</tr>
	<tr>
	{% for r in historiqueReleves %}
		<tr>
		<td>
        {{ r.date }}
		</td>
		<td>
		{{ r.poids }}
		</td>
		</tr>
    {% endfor %}
	</tr>
	</table>
	<br/><br/>
	<form class="form-signin" action="{{ path_for('retourMenu') }}" method="post">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Retour au menu</button>
	</form>
</section>
{% endblock %}
	
	