{% extends "layoutglobal.html" %}

{% block title %}Menu{% endblock %}

{% block content %}

<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Bienvenue</h4>
              <p class="text-muted">Cette application centralise les services auxquels vous avez accés en tant que membre de notre association.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Menu</h4>
              <ul class="list-unstyled">
			  <li><a href="#" class="text-white">Accueil</a></li>
                <li><a href="#" class="text-white">Votre profil</a></li>
                <li><a href="#" class="text-white">Contact</a></li>
                <li><a href="{{ path_for('deconnexion') }}" class="text-white">Se déconnecter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>{{ session.nomUser ~ " " ~ session.prenomUser  }}</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
	
<section class="jumbotron text-center">
	  {% if message %}
		<FONT color="red"><div class="error_message">{{message}}</div></font>
	  {% endif %}
        <div class="container">
          <h1 class="jumbotron-heading">Nom du chien : {{ leChien.nom }}</h1>
		</div>

<br/><br/>
<form action="{{ path_for('repas') }}" method="post">
    <input type="submit" value="Repas" class="btn btn-primary my-2" /><br/>
</form>
<form action="{{ path_for('historiqueRepas') }}" method="post">
   <input type="submit" value="Historique des repas" class="btn btn-primary my-2" />
</form>
<form action="{{ path_for('relevesPoids') }}" method="post">
    <input type="submit" value="Relevés de poids" class="btn btn-primary my-2" /><br/>
</form>

<form action="{{ path_for('historiqueReleves') }}" method="post">
    <input type="submit" value="Historique de relevés de poids" class="btn btn-primary my-2" /><br/>
</form>

<form action="{{ path_for('statistiques') }}" method="post">
   <input type="submit" value="Statistiques" class="btn btn-primary my-2" />
</form>

	

</section>
	

{% endblock %}
